.clearfix {
  clear: both;
}

.container {
  padding: 67px 16px;
  height: 100vh;
}

button {
  transition: none;
  background-color: red;
  border: 1px solid black;
  &:hover {
    transform: none;
  }
  &:focus-visible {
    outline: 0;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
    env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}
